@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Abril+Fatface&family=Concert+One&family=Gloria+Hallelujah&display=swap');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'ADLaM Display', cursive;
}

/* Body Styles */
body {
    background-color: #FFF3DA;
}

/* Title Styles */
.title {
    font-size: 32px;
    font-weight: bold;
    color: #BEADFA;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.068) 2px 2px 2px;
    padding-top: 50px;
}

/* Container Styles */
.container {
    display: flex;
}

/* Grid Styles */
.grid {
    display: flex;
    margin-top: 100px;
    border: solid 5px;
    border-color: #BEADFA;
    box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 5px;
}

/* Buttons Styles */
.buttons {
    display: flex;
    
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin: 129px 150px 0 250px;
    width: 250px;
    height: 650px;
    background-color: #BEADFA;
    box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 5px;
}

.btn {
    padding: 13px;
    width: 200px;
    font-size: 15px;
    color: white;
    background-color: #BEADFA;
    border: solid white;
    border-radius: 20px;
}

.btn:hover {
    background-color: white;
    color: #BEADFA;
}

/* Dropdown Styles */
.pxButton {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 10px;
}

.pxButton:hover .dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.clear {
    margin-top: 200px;
    margin-bottom: 20px;
}


.gridDiv {
    user-select: none;
    -moz-user-select: none; 
    -webkit-user-select: none;
    background-color: white;
    border: solid 1px #00000034;
    box-sizing: border-box;
    
}


.changeMe {
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.904);
    border: solid 1px #00000034;
    box-sizing: border-box;
    
}
.colorsbtn {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.colorsDropdown {
    display: none;
    position: absolute;
    top: 33.1%; 
    left: 13.5%;
    
   
}
.colorsbtn:hover .colorsDropdown {
    display: flex;
    flex-direction: column;
    
    
}



.firstHalf{
    display: flex;
    align-items: center;
   
}
.secondHalf{
    display: flex;
    align-items: center;
    z-index: 1;
}
.btn2 {
    
    width: 83.3px;
    height: 80px;
    border: solid 2px #ffffff;
    box-sizing: border-box;
}
.red{
    background-color: #ffb3ba;
    
}
.blue{
    background-color: #bae1ff;
}
.orange{
    background-color: #ffdfba;
}
.yellow{
    background-color: #ffffba;
}
.purple{
    background-color: #C3B1E1;
}
.green {
    background-color: #baffc9;
}


